@section Style {
    <link rel="stylesheet" href="~/Content/css/about.css">
}

<!-- About Start -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="main-list d-none-992">
                    <ul>
                        <li><a href="/hakkimizda" class="active">Hakkımızda</a></li>
                        <li><a href="/gizlilik-politikasi">Gizlilik Politikası</a></li>
                        <li><a href="/para-transferi-hakkinda">Para Transferi Hakkında</a></li>
                    </ul>
                </div>
                <div class="dropdown-box d-block-992">
                    <div class="dropdown-container">
                        <div class="dropdown-tgg click-dropdown">
                            <span class="active">Hakkımızda</span>
                            <i class="fa-solid fa-angle-down down-icon"></i>
                        </div>
                        <div class="dropdown-mn">
                            <ul>
                                <li><a href="/gizlilik-politikasi">Gizlilik Politikası</a></li>
                                <li><a href="/para-transferi-hakkinda">Para Transferi Hakkında</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="main-detail">
                    <h2>HAKKIMIZDA</h2>
                    <p>
                        Müşterilerimize ve satıcılarımıza kusursuz bir e-ticaret deneyimi yaşatabilmek için 2022
                        yılında kurulduk. Türkiye’nin lider e-ticaret şirketi olmak için ilk adımımızı atarak yola
                        koyulduk. Esnaf ve KOBİ’lerimizi dijitalleştirerek, onları daha çok müşteriye ulaştırıyoruz
                        ve işlerini büyütüyoruz.
                    </p>
                    <p>
                        Teknolojik alanda girmiş olduğumuz bu e-ticaret platformunda gün geçtikçe kendimizi büyüterek
                        ülke ekonomisinin büyümesine ve istihdamın artmasına önemli katkıda bulunmaya çalışmaktayız.
                    </p>
                    <h4>buytech İle Korumalı Alışveriş</h4>
                    <p>
                        Tüketicilerin internet alışverişlerine duyduğu endişelere çözüm sunuluyor ve daha iyi deneyim
                        yaşamaları sağlanıyor. Yeni girdiğimiz bu sektörde buytech Korumalı Alışveriş güvencesiyle
                        işlemlerin yapılmasını sağlamaktayız. Yapmış olduğumuz yüz tanıma sistemli giriş ekranı
                        sayesinde ödeme işlemlerini daha da korunaklı hale getirmiş bulunmaktayız. Korumalı
                        Alışveriş güvencesiyle internetten alışveriş yapılabilmesi sağlanmaktadır.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Abount End -->

@section Script2 {
    <script type="text/javascript">

        // Get all the dropdown from document
        document.querySelectorAll('.dropdown-tgg').forEach(dropDownFunc);

        // Dropdown Open and Close function
        function dropDownFunc(dropDown) {
            console.log(dropDown.classList.contains('click-dropdown'));

            if (dropDown.classList.contains('click-dropdown') === true) {
                dropDown.addEventListener('click', function (e) {
                    e.preventDefault();

                    if (this.nextElementSibling.classList.contains('dropdown-active') === true) {
                        // Close the clicked dropdown
                        this.parentElement.classList.remove('dropdown-open');
                        this.nextElementSibling.classList.remove('dropdown-active');

                    } else {
                        // Close the opend dropdown
                        closeDropdown();

                        // add the open and active class(Opening the DropDown)
                        this.parentElement.classList.add('dropdown-open');
                        this.nextElementSibling.classList.add('dropdown-active');
                    }
                });
            }

            if (dropDown.classList.contains('hover-dropdown') === true) {

                dropDown.onmouseover = dropDown.onmouseout = dropdownHover;

                function dropdownHover(e) {
                    if (e.type == 'mouseover') {
                        // Close the opend dropdown
                        closeDropdown();

                        // add the open and active class(Opening the DropDown)
                        this.parentElement.classList.add('dropdown-open');
                        this.nextElementSibling.classList.add('dropdown-active');

                    }

                    // if(e.type == 'mouseout'){
                    //     // close the dropdown after user leave the list
                    //     e.target.nextElementSibling.onmouseleave = closeDropdown;
                    // }
                }
            }

        };


        // Listen to the doc click
        window.addEventListener('click', function (e) {

            // Close the menu if click happen outside menu
            if (e.target.closest('.dropdown-container') === null) {
                // Close the opend dropdown
                closeDropdown();
            }

        });


        // Close the openend Dropdowns
        function closeDropdown() {
            console.log('run');

            // remove the open and active class from other opened Dropdown (Closing the opend DropDown)
            document.querySelectorAll('.dropdown-container').forEach(function (container) {
                container.classList.remove('dropdown-open')
            });

            document.querySelectorAll('.dropdown-mn').forEach(function (menu) {
                menu.classList.remove('dropdown-active');
            });
        }
    </script>
}