<div class="row">
    <div class="col-md-12">
        <h1 style="font-weight: 900; font-size: 3rem;">Buy<span style="color: #ED2846;">tech</span> Eticaret</h1>
        <p style="font-size: 1.5rem; color: black; font-weight: 400;">Admin paneline hoşgeldiniz.</p>
        <hr />
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6 col-lg-3">
        <div class="admin-detail-box text-center">
            <h3>@ViewBag.User</h3>
            <p>Kullanıcı</p>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="admin-detail-box text-center">
            <h3>@ViewBag.Product</h3>
            <p>Ürün</p>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="admin-detail-box text-center">
            <h3>@ViewBag.Order</h3>
            <p>Sipariş</p>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="admin-detail-box text-center">
            <h3>@ViewBag.Contact</h3>
            <p>Mesaj</p>
        </div>
    </div>
</div>